@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
/* Preloader */
#preloader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(
    100% 100% at center,
    hsla(0, 0%, 60%, 0) 47.8%,
    hsl(0, 0%, 60%) 48%
  );
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em, 1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
    0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0, 90%, 75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
    0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 30%,
    70% 90%,
    70% 100%,
    30% 100%,
    40% 90%,
    0% 30%
  );
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(
      100% 100% at center,
      hsl(0, 0%, 60%) 4.8%,
      hsla(0, 0%, 60%, 0) 5%
    ),
    linear-gradient(
        hsla(0, 0%, 55%, 0) 46.9%,
        hsl(0, 0%, 65%) 47% 52.9%,
        hsla(0, 0%, 65%, 0) 53%
      )
      50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from,
  to {
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}

@keyframes hamsterHead {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from,
  90%,
  to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-30deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(20deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

/* Navbar */
nav {
  padding-right: 15px;
  padding-left: 5px;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f8f7f4;
  text-align: center;
  position: relative;
  justify-content: space-between;
  box-shadow: 0px 2px 26px 0px rgba(9, 28, 7, 0.2);
}

nav img {
  margin-top: 10px;
  height: 50px;
  width: 100px;
  object-fit: cover;
}

.nav-content {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 20px;
  height: 100%;
}

.nav-content ul {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: auto;
  flex-wrap: nowrap;
  height: 100%;
}

.nav-content ul li {
  position: relative;
  display: inline-block;
  height: 100%;
  padding-top: 25px;
}

.nav-content ul li a {
  line-height: 1.2rem;
  text-decoration: none;
  color: #002750;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
}
.nav-content ul li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 7px;
  background-color: #0057b0;
}

.nav-content ul li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 7px;
  background-color: #0057b0;
}

.nav-content ul {
  margin-left: 10px;
}

ul .box {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 150px;
  position: relative;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #0057b0;
  z-index: 12;
  top: 68px;
  width: 100vw;
  height: 45px;
  left: 0px;
  justify-content: center;
  align-items: center;
}

.box .dropdown-content a {
  padding: 5px;
  color: #f8f7f4;
}

.box .dropdown-content a:hover {
  color: #bdbcb9;
}

/*----------------------------------------------------2nd nav-----------------------------------------------------*/
.nav1 {
  /* overflow-y: hidden; */
  z-index: 15;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #f8f7f4;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 20px;
  box-shadow: 0px 2px 26px 0px rgba(9, 28, 7, 0.2);
}

.nav1 img {
  margin-top: 10px;
  height: 50px;
  width: 100px;
  object-fit: cover;
}

.nav1 ul {
  display: none;
  list-style: none;
  overflow-y: hidden;
}

.nav1 ul li {
  margin: 0 5px;
}

.nav1 ul li a {
  color: rgb(42, 46, 45);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  background: white;
  padding: 8px 10px;
  border-radius: 5px;
}

.nav1 .menu-btn {
  font-size: 22px;
  cursor: pointer;
  display: none;
}

#click {
  display: none;
}
/*--------------------------------------------------------Navbar Responsive--------------------------------------------------------------*/

@media (max-width: 1340px) {
  ul .box {
    min-width: 130px;
  }
}

@media (max-width: 1200px) {
  ul .box {
    min-width: 110px;
  }
}

@media (max-width: 1024px) {
  ul .box {
    min-width: 80px;
  }
}

@media (max-width: 850px) {
  .nav-content {
    width: 75%;
  }
  ul .box {
    min-width: 80px;
  }
  .nav-content ul li a {
    font-size: 0.9rem;
  }
}

@media (max-width: 770px) {
  .nav-content {
    width: 75%;
  }
  ul .box {
    min-width: 70px;
  }
  .nav-content ul li a {
    font-size: 0.8rem;
  }
}

@media (max-width: 690px) {
  nav {
    display: none;
  }
  .nav1 {
    display: flex;
  }
  .nav1 .menu-btn {
    display: block;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  .nav1 ul {
    position: absolute;
    top: 80px;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s linear;
    order: 20;
  }

  #click:checked ~ ul {
    left: 0%;
  }

  .nav1 ul li {
    background: white;
    margin: 0px 0;
    padding-top: 10px;
  }

  .nav1 ul li a {
    background: white;
    display: block;
    padding: 0 0 0 0;
  }
  .dropdown p {
    padding: 10px 0;
    color: white;
    background-color: rgb(77, 77, 214);
  }
}

/* Hero */

/* Carousel */
.slider {
  width: 100vw;
  height: 420px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1s;
}

.list img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: 1s;
}

.dots li.active {
  width: 30px;
}

/* Banner 1 */
.banner1 {
  height: 275px;
  background-color: #1d2031;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner1 h1 {
  color: white;
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: 800;
}
.btn {
  cursor: pointer;
  position: relative;
  padding: 25px 40px;
  background: #0057b0;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 1s;
  border: none;
  outline: none;
  color: white;
}

.btn2 {
  cursor: pointer;
  position: relative;
  padding: 22px 35px;
  background: #0057b0;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 1s;
  border: none;
  outline: none;
  color: white;
}
.btn:after,
.btn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.btn2:after,
.btn2:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.btn:after,
.btn2:after {
  top: -1px;
  left: -1px;
  border-top: 7px solid white;
  border-left: 7px solid white;
}
.btn:before,
.btn2:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 7px solid white;
  border-right: 7px solid white;
}
.btn:hover,
.btn2:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #1d2031;
}
.btn:hover:before,
.btn:hover:after {
  width: 95%;
  height: 92.7%;
}
.btn2:hover:before,
.btn2:hover:after {
  width: 95%;
  height: 92.2%;
}

/* Banner 2 */
.banner2 {
  height: 250px;
  background-color: #0057b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hover-effect {
  position: relative;
  display: inline-block;
}

.hover-effect a {
  text-decoration: none;
  color: inherit;
}

.hover-effect:hover a {
  border-bottom: 2px solid white;
}

.hover-effect::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-out;
  z-index: -1;
}

.hover-effect:hover::after {
  width: 100%;
}

.banner2 h1 a {
  text-decoration: none;
  color: white;
  font-size: 3.5rem;
}
.banner2 h3 {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.banner2 a {
  text-decoration: none;
  color: #d5ad8b;
  font-weight: bold;
  font-size: 14px;
}

.banner3 {
  width: 100%;
  height: 300px;
  background-color: #f8f7f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner3 h3 {
  color: #434343;
  line-height: 150%;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 40vh;
  background-color: #fff;
  border-bottom: 1px solid #f8f7f4;
}
.card {
  width: 300px;
  background-color: #f6f4f1;
  padding: 20px;
  margin: 70px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 400px; */
  transition: 0.1s ease;
  height: 425px;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.card:not(:hover) {
  opacity: 0.5;
}

.card h2 {
  color: #00274a;
  font-weight: 700;
  font-size: 24px;
}

.card p {
  font-size: 18px;
  font-weight: 300;
  color: black;
  line-height: 1.3;
}

.card button {
  padding: 10px 20px;
  background-color: #0057b0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 5px;
  font-size: 16px;
}

.card button:hover {
  background-color: #1d2031;
}

/* Video Section */

.video-section {
  height: 550px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border-bottom: 1px solid #f6f4f1;
}

.video-section p {
  margin-top: 15px;
  font-size: 12px;
  color: #767676;
}

.video-container {
  position: relative;
  display: inline-block;
  width: 730px;
  height: 398px;
  margin-bottom: 15px;
}
.video-container iframe {
  width: 728px;
  height: 398px;
}
.video-thumbnail {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  z-index: 3;
}

.play-btn {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0057b0;
  color: #fff;
  border-radius: 50%;
  animation: pulse 1.5s cubic-bezier(0, 0.7, 0.3, 1) forwards infinite;
  z-index: 5;
  border: none;
  outline: none;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ffffff80;
  }
  100% {
    box-shadow: 0 0 0 20px #ffffff00;
  }
}

.play-btn .material-symbols-rounded {
  font-size: 4.5rem;
  font-variation-settings: "FILL" 1;
}

/* Insights Blog */
.insights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 30px;
  border-bottom: 1px solid #f6f4f1;
}
.insights-header {
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 980px;
}
.insights-header h1 {
  color: #002750;
  font-size: 3.6rem;
  font-weight: 900;
}

.insights-header .btn-insight {
  cursor: pointer;
  position: relative;
  padding: 20px 30px;
  background: #b5b2ae;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 1s;
  border: none;
  outline: none;
  color: white;
}

.insights-header .btn-insight:after,
.insights-header .btn-insight:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}

.insights-header .btn-insight:after {
  top: -1px;
  left: -1px;
  border-top: 7px solid gray;
  border-left: 7px solid gray;
}
.insights-header .btn-insight:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 7px solid gray;
  border-right: 7px solid gray;
}

.insights-header .btn-insight:hover {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #fff;
  color: #767676;
}

.insights-header .btn-insight:hover:before,
.insights-header .btn-insight:hover:after {
  width: 95%;
  height: 92.2%;
}

.insights-blogs {
  width: 980px;
  max-width: 980px;
  display: flex;
  flex-direction: row;
}

.insights-blogs h2 {
  color: #0057b0;
  font-size: 1.9rem;
  line-height: 1.2;
  margin-bottom: 10px;
}
.insights-blogs h2:hover {
  color: #00274a;
  cursor: pointer;
}
.insights-blogs p {
  line-height: 1.5;
}
.insights-blog1,
.insights-blog2,
.insights-blog3 {
  padding-right: 2em;
  width: 33%;
  margin-left: 10px;
}

/* Contact Us */
.home-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}
.cont {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 40px;
  margin-top: 30px;
}

.cont1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.cont h1 {
  text-align: left;
  color: #00274a;
  margin-bottom: 20px;
  font-size: 60px;
  font-family: Arial, sans-serif;
}

.cont h2 {
  text-align: left;
  color: #00274a;
  margin-bottom: 12px;
  font-size: 30px;
}

/* ///////////////////// */

.contact-head span {
  color: #baab94;
  font-weight: 600;
  font-size: 13px;
}
.contact-head hr {
  position: relative;
  top: -12px;
  left: 72px;
  width: 173px;
  opacity: 50%;
}
.details-box {
  margin: 1rem 0 1.1rem 0;
}
.details-box p {
  margin-bottom: 1rem;
}
.details-box p span {
  font-weight: 600;
  opacity: 70%;
}
.details-box p i {
  font-size: 1.3rem;
  margin-right: 1rem;
  opacity: 50%;
  color: rgb(133, 134, 137);
  position: relative;
  top: 4px;
}
.address {
  margin-top: 1rem;
  display: flex;
}
.address i {
  font-size: 1.7rem;
  margin-right: 10px;
  color: rgb(133, 134, 137);
  opacity: 50%;
}
.address p {
  font-size: 0.95rem;
}

.cont iframe {
  position: relative;
  top: 10px;
}

.info {
  color: #222222;
  font-size: 16px;
  background-color: #f6f4f1;
  padding: 24px 30px 70px 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
  border-radius: 3px;
}

.info:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contact-info1 {
  color: #222222;
  font-size: 16px;
  background: #f6f4f1;
  margin: 0px 0px 24px;
  padding: 12px 15px;
}

.contact-info1 p {
  margin-bottom: 10px;
}

.location {
  width: 48%;
  margin-bottom: 20px;
}

.location h3 {
  margin-bottom: 5px;
  opacity: 70%;
}

/* Author Box */
.author-box {
  padding-top: 70px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  min-width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #f6f4f1;
}
.author-box .para {
  font-size: 24px;
  color: #222222;
  font-weight: 600;
  line-height: 2.3rem;
  text-align: center;
  font-style: italic;
  margin-bottom: 2rem;
  width: 825px;
}
.author-name {
  width: 300px;
  height: 170px;
  padding-top: 0px;
  border-top: 1px solid #cdc6c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author-name p {
  color: #727272;
  font-size: 1.2rem;
}

.author-name p {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 25px;
}

.test-btn {
  cursor: pointer;
  position: relative;
  padding: 20px;
  background: #b5b2ae;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 1s;
  border: none;
  outline: none;
  color: white;
}

.test-btn:after,
.test-btn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}

.test-btn:after {
  top: -1px;
  left: -1px;
  border-top: 7px solid gray;
  border-left: 7px solid gray;
}

.test-btn:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 7px solid gray;
  border-right: 7px solid gray;
}
.test-btn:hover {
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #fff;
  color: #767676;
}

.test-btn:hover:before,
.test-btn:hover:after {
  width: 95%;
  height: 92.2%;
}
/* Footer */

footer {
  width: 100%;
}

.foot-first-box {
  width: 100%;
  background-color: #f6f4f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-box-1 {
  width: 65%;
}

.foot-main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 20px 0px;
  align-items: center;
}
.foot-link-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.foot-links h4 {
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 15px;
}

.foot-links li {
  list-style-type: none;
  font-size: 13px;
  line-height: 1.8em;
}
.foot-links li::before {
  position: relative;
  bottom: 4px;
}
.foot-links a {
  text-decoration: none;
  color: #0057b0;
}
.foot-links a:hover {
  color: #00274a;
}

/* Footer - Last Box */
.foot-last-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d2031;
  padding: 4% 0;
}
.foot-last-text {
  /*width: 60%;*/
  text-align: center;
  color: white;
  /* border: 1px solid red; */
}

.foot-last-text a {
  text-decoration: none;
  color: #c9a088;
}
.last-text-head {
  font-size: 28px;
  margin: 15px 0px;
}
.last-text-link {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.hr-line {
  display: none;
}

/*------------------------------------------------------Responsive--------------------------------------------------------------*/

@media (max-width: 1000px) {
  .foot-box-1 {
    width: 75%;
  }
}

@media (max-width: 800px) {
  .foot-box-1 {
    width: 85%;
  }
  .foot-links h4 {
    font-weight: 800;
    margin-bottom: 5px;
    margin-top: 1px;
  }
}

@media (max-width: 700px) {
  .foot-box-1 {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .foot-box-1 {
    width: 98%;
  }

  .foot-links li {
    line-height: 1.8em;
  }
}

@media (max-width: 600px) {
  .foot-link-box {
    margin-left: 0px;
    width: 100%;
    align-items: center;
    display: block;
  }
  .foot-box-1 {
    align-items: center;
    width: 100%;
    margin: 2rem 0px;
  }
  .foot-links h4 {
    text-align: center;
    font-size: 22px;
    margin-left: 0%;
    margin-top: 15px;
    margin-bottom: 5px;
    opacity: 85%;
  }

  .foot-links li {
    margin-left: 0%;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    line-height: 1.6em;
    opacity: 80%;
  }
  .hr-line {
    display: block;
    width: 20%;
    margin: auto;
  }
  .hr-line hr {
    opacity: 60%;
    margin-top: 1rem;
    /* color: red; */
    border: 1px solid #c9a088;
  }
}

@media (max-width: 400px) {
  .last-text-head {
    font-size: 24px;
  }
  .last-text-link {
    font-size: 14px;
  }
}

/* ScrollTop */
.scrollTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1d2031;
  border: none;
  font-weight: 600;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 999;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.scrollTop:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #1d2031;
  align-items: center;
}

.scrollTop:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.scrollTop::before {
  position: absolute;
  bottom: -20px;
  right: 50%;
  transform: translateX(50%);
  content: "Back to Top";
  color: white;
  font-size: 0px;
}

.scrollTop:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}
@media (max-width: 743px) {
  .cards {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  .card {
    padding: 20px;
    margin: 20px 20px;
    height: 370px;
  }
}
@media (max-width: 830px) {
  .slider {
    height: 350px;
  }
  .card {
    height: 530px;
  }
  .insights-header {
    width: 750px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .insights-blogs {
    width: 760px;
  }
  .insights-blog1,
  .insights-blog2,
  .insights-blog3 {
    padding-right: 1em;
  }
  .author-box .para {
    width: 770px;
  }
  .home-contact {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 50px;
  }
}

@media (max-width: 600px) {
  .nav1 {
    margin-top: -75px;
  }
  .slider {
    margin-top: 75px;
    height: 220px;
  }
  .buttons button {
    width: 30px;
    height: 30px;
  }
  .dots li {
    width: 5px;
    height: 5px;
    margin: 20px;
  }

  .dots li.active {
    width: 20px;
  }
  .scrollTop {
    width: 35px;
    height: 35px;
    bottom: 30px;
    right: 30px;
  }
  .banner1 h1 {
    font-size: 2rem;
    padding: 0 10px;
  }
  .btn {
    padding: 20px 25px;
    font-size: 18px;
  }
  .banner2 {
    height: 240px;
  }
  .banner2 h1 a {
    font-size: 3rem;
  }
  .banner2 h3 {
    padding-top: 10px;
    font-size: 1.3rem;
    padding-bottom: 20px;
  }
  .banner3 h3 {
    margin-bottom: 25px;
    font-size: 1.2rem;
  }
  .banner3 {
    height: 250px;
  }
  .btn2 {
    padding: 20px 25px;
    background: #0057b0;
    font-size: 18px;
  }
  .cards {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  .card {
    padding: 20px;
    margin: 20px 20px;
    height: 380px;
  }
  .move-right {
    display: none;
  }

  .video-section {
    height: 350px;
  }

  .video-container {
    width: 95vw;
    height: 200px;
  }
  .video-container iframe {
    width: 95vw;
    height: 200px;
  }
  .video-thumbnail {
    width: 95vw;
    height: 200px;
  }
  .insights {
    padding: 40px 30px 10px;
  }
  .insights-header {
    width: 400px;
    justify-content: center;
    margin-right: 90px;
    margin-top: 0px;
  }
  .insights-header h1 {
    font-size: 2rem;
    font-weight: 900;
  }
  .btn-insight {
    display: none;
  }
  .insights-blogs {
    width: 890px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .insights-blogs h2 {
    font-size: 1.4rem;
  }
  .insights-blogs p {
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .contact-head hr {
    position: relative;
    top: -12px;
    left: 72px;
    width: 130px;
    opacity: 50%;
  }
  .author-box {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 325px;
  }
  .author-box .para {
    font-size: 24px;
    color: #222222;
    font-weight: 600;
    line-height: 2.3rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 2rem;
    width: 325px;
    margin-right: 290px;
  }
  .author-name {
    margin-right: 290px;
  }
}
