@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    font-family: "Roboto", sans-serif;
}

.main-container{
    max-width: 750px;
    /* border: 2px solid black; */
    margin: 4% 0px;
    
}
.heading-box{
    margin-bottom: 2rem;
    text-align: left;
}
.heading-box h1{
    text-align: start;
    font-size: 60px;
    color: #00274A;
    margin-bottom: 2rem;
}
iframe{
    margin-bottom: 2rem;
}
.heading-box p{
    color: #00274A;
    font-size: 22px;
    margin-bottom: 2rem;
}
.heading-box p a{
    color: #00274A;
}

.press-news{
    margin-top: 2rem;
    color: #00274A;
}
.news-box{
    display: flex;
    /* border: 1px solid black; */
    margin: 2rem 0px;
}
.news-box a{
    text-decoration: none;
    color: #008AD0;
    font-weight: 600;
}
.news-box a:hover{
    color: #00274A;
}
.news-box span{
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    opacity: 40%;
}

.archive-btn{
    background-color: #0057B0;
    width: 150px;
    height: 70px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.archive-btn:hover{
    background-color: #00274A;
}

.archive-btn sapn{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
}
.archive-btn i{
    margin-left: 1rem;
    font-size: 25px;
}
#btn{
    text-decoration: none;
}




.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:active {
    color: #000;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  
  .glow-on-hover:hover {
    transform: translateX(10px); 
  }
  

/*-----------------------------------------------------Responsive-------------------------------------------------------------*/

@media (max-width:1000px) {
    .main-container{
        max-width: 600px;
        margin: 2% 0px;
        
    }

    iframe{
        width: 100%;
        height: 320px;
        margin-bottom: 2rem;
    }

    .heading-box h1{
        font-size: 40px;
        margin-bottom: 2rem;
    }

    .heading-box p{
        font-size: 18px;
        margin-bottom: 2rem;
    }

    .press-news h1{
        font-size: 24px;
    }

    .news-box a{
        font-size: 14px;
    }

    .news-box{
        margin: 1rem 0px;
    }

    .archive-btn sapn{
        font-size: 0.8rem;
    }

    .archive-btn{
        width: 120px;
        height: 50px;
    }
}

@media (max-width:750px) {
    .main-container{
        max-width: 450px;
        margin: 1.5% 0px;
        
    }

    iframe{
        width: 100%;
        height: 250px;
        margin-bottom: 1.8rem;
    }

    .heading-box h1{
        font-size: 35px;
        margin-bottom: 1.8rem;
    }

    .heading-box p{
        font-size: 16px;
        margin-bottom: 1.8rem;
    }

    .press-news h1{
        font-size: 22px;
    }

    .news-box a{
        font-size: 12px;
    }

    .news-box{
        margin: 0.8rem 0px;
    }

    .archive-btn sapn{
        font-size: 0.8rem;
    }

    .archive-btn{
        width: 120px;
        height: 40px;
    }
}


@media (max-width:550px) {
    .main-container{
        max-width: 350px;
        margin: 1.2% 0px;
        
    }

    iframe{
        width: 100%;
        height: 190px;
        margin-bottom: 1.5rem;
    }

    .heading-box h1{
        font-size: 32px;
        margin-bottom: 1.5rem;
    }

    .heading-box p{
        font-size: 14px;
        margin-bottom: 1.5rem;
    }

    .press-news h1{
        font-size: 20px;
    }

    .news-box a{
        font-size: 10px;
    }

    .news-box{
        margin: 0.6rem 0px;
    }

    .archive-btn sapn{
        font-size: 0.7rem;
    }

    .archive-btn{
        width: 100px;
        height: 30px;
    }
    .press-news span{
        font-size: 10px;
    }
}


@media (max-width:450px) {
    .main-container{
        max-width: 300px;
        margin: 1% 0px;
        
    }

    iframe{
        width: 100%;
        height: 160px;
        margin-bottom: 1.2rem;
    }

    .heading-box h1{
        font-size: 28px;
        margin-bottom: 1.2rem;
    }

    .heading-box p{
        font-size: 12px;
        margin-bottom: 1.2rem;
    }

    .press-news h1{
        font-size: 18px;
    }

    .news-box a{
        font-size: 9px;
    }

    .news-box{
        margin: 0.5rem 0px;
    }

    .archive-btn sapn{
        font-size: 0.7rem;
    }

    .archive-btn{
        width: 100px;
        height: 30px;
    }
    .press-news span{
        font-size: 8px;
    }
}
