@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    font-family: "Roboto", sans-serif;
}

.main-container{
    max-width: 750px;
    /* border: 2px solid black; */
    margin: 10% 0px;
    
}
.heading-box{
    margin-bottom: 2rem;
}
.heading-box h1{
    font-size: 60px;
    color: #00274A;
    margin-bottom: 2rem;
}

.heading-box p{
    font-size: 22px;
    opacity: 70%;
    line-height: 2.3rem;
    text-align: justify
}

.images-box h1{
    color: #00274A;
}

.client-logo{
    margin-top: 2rem;
}

.client-image{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 10px;

}
.logo-container{
    text-align: center;
}

.logo-name{
    text-decoration: none;
    color: black;
    opacity: 70%;
    font-size: 13px;
}
.logo-name:hover{
    border-bottom: 1px solid black;
}

.logo{
    padding: 12px 11px;
    margin-bottom: 1rem;
}
.logo:hover{
    border: 1px solid black;
}

.logo a img{
    width: 100%;
    
}


/*-----------------------------------------------------------Responsible-------------------------------------------------------------------*/
@media (max-width:1000px) {
    .heading-box p{
        font-size: 20px;
        opacity: 70%;
        line-height: 2rem;
        text-align: justify;
    }
    .main-container{
        max-width: 700px;
        margin: 10% 0px;
        
    }
    .client-image{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 10px;
    
    }
}

@media (max-width:850px) {
    .heading-box p{
        font-size: 18px;
        opacity: 70%;
        line-height: 2rem;
        text-align: justify;
    }
    .main-container{
        max-width: 600px;
        margin: 10% 0px;
        
    }
    .client-image{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 18px 9px;
    
    }
}

@media (max-width:700px) {
    .heading-box p{
        font-size: 18px;
        opacity: 70%;
        line-height: 2rem;
        text-align: justify;
    }
    .main-container{
        max-width: 400px;
        margin: 10% 0px;
        
    }
    .client-image{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px 9px;
    
    }
}

@media (max-width:500px) {
    .heading-box p{
        font-size: 18px;
        opacity: 70%;
        line-height: 1.5rem;
        text-align: justify;
    }
    .main-container{
        max-width: 250px;
        margin: 10% 0px;
        
    }
    .client-image{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 18px 9px;
    
    }
    .heading-box h1{
        font-size: 40px;
        color: #00274A;
        margin-bottom: 2rem;
    }
    .images-box h1{
        font-size: 22px;
    }
}