@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    font-family: "Roboto", sans-serif;
}

.main-container{
    max-width: 690px;
    /* border: 2px solid black; */
    margin: 10% 0px;
    
}

.heading-box{
    margin-bottom: 2rem;
}
.heading-box h1{
    font-size: 60px;
    color: #00274A;
}

.heading-box .para{
    font-size: 22px;
    color: black;
    font-weight: 600;
    line-height: 2.3rem;
    /* text-align: center;   */
    font-style: italic;
    margin-bottom: 2rem;
}


.author-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}


.author-name{
    /* border: 1px solid black; */
    width: 300px;
}

.author-name p{
    padding: 0px 50px;
    margin-top: 1rem;
    opacity: 70%;
}


/*-----------------------------------------------------------Responsive--------------------------------------------------------------------*/
@media (max-width:1000px) {
    .main-container{
        max-width: 450px;
        margin: 10% 0px;
        
    }

    .heading-box h1{
        font-size: 40px;
        color: #00274A;
    }

    .heading-box .para{
        font-size: 18px;
        color: black;
        font-weight: 600;
        line-height: 2.2rem;
        font-style: italic;
        margin-bottom: 1.8rem;
    }

    .author-name{
        width: 250px;
    }

    .author-name p{
        font-size: 12px;
    }
}

@media (max-width:800px) {
    .main-container{
        max-width: 350px;
        margin: 10% 0px;
        
    }

    .heading-box h1{
        font-size: 30px;
        color: #00274A;
    }

    .heading-box .para{
        font-size: 16px;
        line-height: 1.9rem;
    }

    .author-name{
        width: 230px;
    }

    .author-name p{
        font-size: 10px;
    }
}

@media (max-width:700px) {
    .main-container{
        max-width: 300px;
        margin: 10% 0px;
        
    }

    .heading-box h1{
        font-size: 28px;
        color: #00274A;
    }

    .heading-box .para{
        font-size: 13px;
        line-height: 1.6rem;
    }
}

@media (max-width:400px) {
    .main-container{
        max-width: 200px;
        margin: 10% 0px;
        
    }

    .heading-box h1{
        font-size: 25px;
        color: #00274A;
    }

    .heading-box .para{
        font-size: 12px;
        line-height: 1.2rem;
    }
}

