@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    font-family: "Roboto", sans-serif;
}

.main-container{
    max-width: 750px;
    /* border: 2px solid black; */
    margin: 4% 0px;
    
}
.heading-box{
    margin-bottom: 2rem;
}
.heading-box h1{
    font-size: 60px;
    color: #00274A;
    margin-bottom: 2rem;
}
.text-box{
    margin-bottom: 2rem;
}
.text-box h2{
    margin-bottom: 2rem;
    color: #00274A;
    font-size: 35px;
}

.text-box p{
    font-size: 22px;
    opacity: 70%;
    line-height: 2.1rem;
    text-align: justify
}


/*-----------------------------------------------------------------Responsive--------------------------------------------------------------------*/

@media (max-width:1000px) {
    .main-container{
        max-width: 650px;
        margin: 3.3% 0px; 
    }

    .heading-box h1{
        font-size: 50px;
        margin-bottom: 1.8rem;
    }

    .text-box h2{
        margin-bottom: 1.8rem;
        font-size: 32px;
    }

    .text-box p{
        font-size: 18px;
        opacity: 70%;
        line-height: 2rem;
    }
}


@media (max-width:800px) {
    .main-container{
        max-width: 600px;
        margin: 3.1% 0px; 
    }

    .heading-box h1{
        font-size: 45px;
        margin-bottom: 1.5rem;
    }

    .text-box h2{
        margin-bottom: 1.5rem;
        font-size: 28px;
    }

    .text-box p{
        font-size: 16px;
        opacity: 70%;
        line-height: 1.8rem;
    }
}

@media (max-width:700px) {
    .main-container{
        max-width: 500px;
        margin: 3% 0px; 
    }

    .heading-box h1{
        font-size: 40px;
        margin-bottom: 1.3rem;
    }

    .text-box h2{
        margin-bottom: 1.3rem;
        font-size: 25px;
    }

    .text-box p{
        font-size: 15px;
        opacity: 70%;
        line-height: 1.5rem;
    }
}

@media (max-width:600px) {
    .main-container{
        max-width: 380px;
        margin: 2.5% 0px; 
    }

    .heading-box h1{
        font-size: 35px;
        margin-bottom: 1.1rem;
    }

    .text-box h2{
        margin-bottom: 1.1rem;
        font-size: 22px;
    }

    .text-box p{
        font-size: 14px;
        opacity: 70%;
        line-height: 1.3rem;
    }
}

@media (max-width:450px) {
    .main-container{
        max-width: 300px;
        margin: 2.2% 0px; 
    }

    .heading-box h1{
        font-size: 28px;
        margin-bottom: 1rem;
    }

    .text-box h2{
        margin-bottom: 1rem;
        font-size: 18px;
    }

    .text-box p{
        font-size: 12px;
        opacity: 70%;
        line-height: 1.1rem;
    }
}


