@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    font-family: "Roboto", sans-serif;
}

.main-container{
    max-width: 750px;
    /* border: 2px solid black; */
    margin: 4% 0px;
    
}
.heading-box{
    margin-bottom: 2rem;
}
.heading-box h1{
    font-size: 60px;
    color: #00274A;
    margin-bottom: 2rem;
}
.text-box{
    margin-bottom: 2rem;
}
.text-box h2{
    margin-bottom: 2rem;
    color: #00274A;
    font-size: 35px;
}

.text-box p{
    font-size: 22px;
    opacity: 70%;
    line-height: 2.1rem;
    text-align: justify
}

