@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    font-family: "Roboto", sans-serif;
    background-color:f7ede2;
}

.main-container{
    max-width: 690px;
    /* border: 2px solid black; */
    margin: 5% 0px;
    
}

.heading-box{
    margin-bottom: 2rem;
}
.heading-box h1{
    width: 450px;
    font-weight: 900;
    font-size: 60px;
    color: #00274A;
    margin-bottom: 2rem;
}

.heading-box .para{
    font-size: 22px;
    color: black;
    line-height: 2.3rem;
    margin-bottom: 2rem;
    text-align: start;
}
.author-box img{
    width: 100%;
    margin-bottom: 1rem;
}

.author-box ul{
    padding-left: 3rem;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

iframe{
    width: 100%;
    margin-top: 3rem;
}
HEAD
:root {
    --glow-hue: 222deg;
    --shadow-hue: 180deg;
    --spring-easing: cubic-bezier(
        0, 0.002, 0.01, 0.9, 0.038, 1.8, 0.156, 0.312, 0.789, 11.1, 1.015, 14.2,
        1.096, 1.157, 1.199, 1.224, 1.231, 1.231, 1.226, 1.214, 1.176, 1.057, 1.007,
        0.984, 0.968, 0.956, 0.949, 0.946, 0.95, 0.998, 1.007, 1.011, 1.012, 0.998,
        0.998, 1
    );
    --spring-duration: 1.33s;
}

@property --shimmer {
    syntax: "<angle>";
    inherits: false;
    initial-value: 33deg;
}

@keyframes shimmer {
    0% {
        --shimmer: 0deg;
    }
    100% {
        --shimmer: 360deg;
    }
}

@keyframes shine {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes text {
    0% {
        background-position: 100% center;
    }    
    100% {
        background-position: -100% center;
    }    
}

button {
    color: var(--bg);
    font-weight: 600;
    /* background-image: linear-gradient(
        315deg,
        #ffc4ec -10%,
        #efdbfd 50%,
        #ffedd6 110%
    ); */
    background-color: transparent;
    padding: .8em 1.4em;
    position: relative;
    isolation: isolate;
    box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 -10px 20px -10px hsla(var(--shadow-hue),10%,90%,95%);
    border-radius: 0.66em;
    scale: 1;
    transition: all var(--spring-duration) var(--spring-easing);
    color: blue;
}

button:hover:not(:active),
button.active {
    transition-duration: calc(var(--spring-duration)*0.5);
    scale: 1.2;
    box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 0 0 transparent;
}

button:active {
    scale: 1.1;
    transition-duration: calc(var(--spring-duration)*0.5);
}

.shimmer {
    position: absolute;
    inset: -40px;
    border-radius: inherit;
    mask-image: conic-gradient(
        from var(--shimmer, 0deg),
        transparent 0%,
        transparent 10%,
        black 36%,
        black 45%,
        transparent 50%,
        transparent 60%,
        black 85%,
        black 95%,
        transparent 100%
    );
    mask-size: cover;
    mix-blend-mode: plus-lighter;
    animation: shimmer 1s linear infinite both;
}

button:hover .shimmer::before,
button:hover .shimmer::after,
button.active .shimmer::before,
button.active .shimmer::after {
    opacity: 1;
    animation: shine 1.2s ease-in 1 forwards;
}

.shimmer::before,
.shimmer::after {
    transition: all 0.5s ease;
    opacity: 0;
    content: "";
    border-radius: inherit;
    position: absolute;
    mix-blend-mode: color;
    inset: 40px;
    pointer-events: none;
}

.shimmer::before {
    box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
        0 0 7px 4px hsl(var(--glow-hue) 20% 80%),
        0 0 13px 4px hsl(var(--glow-hue) 50% 70%),
        0 0 25px 5px hsl(var(--glow-hue) 100% 70%);
    z-index: -1;
}

.shimmer::after {
    box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
        inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%),
        inset 0 0 5px 2px hsl(var(--glow-hue) 100% 70%);
    z-index: 2;
}

button .text {
    color: transparent;
    background-clip: text;
    background-color: var(--bg);
    background-image: linear-gradient(120deg, transparent, hsla(var(--glow-hue),100%,80%,0.66) 40%, hsla(var(--glow-hue),100%,90%,.9) 50%, transparent 52%);
    background-repeat: no-repeat;
    background-size: 300% 300%;
    background-position: center 200%;
}

button:hover .text,
button.active .text {
    animation: text .66s ease-in 1 both;
}

/* body,
html {
    display: flex;
    height: 100vh;
    padding: 0;
    background-image: radial-gradient(
        circle at 50% 0%,
        rgb(67, 54, 74) 16.4%,
        rgb(47, 48, 67) 68.2%,
        rgb(27, 23, 36) 99.1%
    );
} */

main#app {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.author-box img{
    border-radius: 10px;
}


.para{
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
position: relative;
bottom: 15px;
}

 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  .para{
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

/* body,html{margin:0;padding:0;height:100%;} */
.para1{
  background: #f1f1f1;
  background-size:cover;
  font-family: 'Cabin Condensed', sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
svg{font-weight:bold;max-width:600px;height:100%;}
  

.author-box{
    text-align: justify;
}


/*----------------------------------------------------Responsible------------------------------------------------------------------*/
@media (max-width:1000px) {
    .author-box{
        margin-left: 8%;
    }

    .heading-box h1{
        margin-left: 8%;
        width: 400px;
        font-weight: 800;
        font-size: 50px;
        color: #00274A;
        margin-bottom: 1.5rem;
    }

    .heading-box .para{
        width: 90%;
        font-size: 20px;
        color: black;
        line-height: 2.1rem;
        margin-bottom: 1.5rem;
        text-align: start;
    }

    .author-box img{
        width: 90%;
        margin-bottom: 1rem;
    }

    .author-box ul{
        padding-left: 3rem;
        font-size: 1.2rem;
        line-height: 2.3rem;
    }

    iframe{
        width: 90%;
        margin-top: 2rem;
    }
}

@media (max-width:800px) {
    .author-box{
        margin-left: 16%;
    }

    .heading-box h1{
        margin-left: 16%;
        width: 400px;
        font-weight: 700;
        font-size: 40px;
        color: #00274A;
        margin-bottom: 1rem;
    }

    .heading-box .para{
        width: 80%;
        font-size: 18px;
        color: black;
        line-height: 1.8rem;
        margin-bottom: 1rem;
        text-align: start;
    }

    .author-box img{
        width: 80%;
        margin-bottom: 1rem;
    }

    .author-box ul{
        padding-left: 3rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    iframe{
        height: 200px;
        width: 80%;
        margin-top: 1.5rem;
    }
}

@media (max-width:600px) {
    .author-box{
        margin-left: 25%;
    }

    .heading-box h1{
        margin-left: 25%;
        width: 300px;
        font-weight: 650;
        font-size: 35px;
        color: #00274A;
        margin-bottom: 0.8rem;
    }

    .heading-box .para{
        width: 70%;
        font-size: 16px;
        color: black;
        line-height: 1.5rem;
        margin-bottom: 1rem;
        text-align: start;
    }

    .author-box img{
        width: 70%;
        margin-bottom: 1rem;
    }

    .author-box ul{
        padding-left: 3rem;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    iframe{
        height: 150px;
        width: 70%;
        margin-top: 1rem;
    }
}

@media (max-width:525px) {
    .heading-box h1{
        width: 240px;
        font-weight: 600;
        font-size: 30px;
        color: #00274A;
        margin-bottom: 0.8rem;
    }

    iframe{
        height: 120px;
        width: 70%;
        margin-top: 1rem;
    }

    .author-box ul{
        width: 70%;
        padding-left: 3rem;
        font-size: 1rem;
        line-height: 1.4rem;
    }
}

