@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading {
    color: #00274a;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    margin-bottom: 30px;
    margin-top: -33px;
    padding-top: 50px;
}
.parent {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.container {
    width: 450px;
    background-color: rgb(246, 244, 241);
    border: 1px solid #ddd;
    margin-bottom: 80px;
    border-radius: 10px;
}

.formGrp {
    margin-bottom: 8px;
    padding: 0px 30px;
    font-size: 20px;
}

.fileText {
    font-size: 16px;
}

.file{
    width: 267px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
}
label {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

input {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0px;
}

.inp {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    height: 42px;
}
.errorMsg{
    color: red;
    text-align: start;
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
}
#successMsg{
    color: rgb(10, 154, 10);
    text-align: center;
    font-weight: 750;
    font-size: 16px;
    padding: 10px;
}

textarea {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

button {
    width: 155px;
    height: 70px;
    background-color: rgb(0, 87, 176);
    color: white;
    font-weight: 600;
    margin: 20px 31px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.0), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
button:hover {
    background-color: rgb(9, 40, 70);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.sideParagraph {
    width: 270px;
    font-size: 20px;
    box-sizing: border-box;
    /* font-weight: 700; */
}

/* ------------------------------Responsive -------------------------------- */

@media (max-width:1024px) {
    .heading {
        font-size: 68px;
        text-align: center;
    }
    .parent {
        gap: 27px;
    }
    .sideParagraph{
        width: 265px;
    font-size: 18px;
    }
    }

@media (max-width:768px) {
    .heading {
        font-size: 58px;
    text-align: center;
    }
    .parent {
        gap: 20px;
    }
    .sideParagraph{
        width: 257px;
    font-size: 16px;
    }
    .container{
        width: 400px;
    }
    .formGrp {
        margin-bottom: 5px;
        padding: 0px 30px;
        font-size: 16px;
    }
    .fileText {
        font-size: 15px;
    }
    
    .file{
        width: 218px;
        height: 45px;
        font-size: 16px;
    }
    label {
        padding-top: 16px;
    }
    
    input {
        width: 100%;
        margin-top: 7px;
        padding: 6px 0px;
    }
    
    .inp {
        height: 35px;
    }
    button {
        width: 145px;
    height: 60px;
    margin: 20px 30px;
    font-size: 18px;
    border-radius: 10px;
    }
    .errorMsg{
        font-size: 14px;
    padding: 7px;
    }
    #successMsg{
        font-size: 14px;
    padding: 7px;
    }
    }
    @media (max-width:500px) {
        .heading {
            font-size: 40px;
        text-align: center;
        }
        .parent {
            flex-direction: column;
            align-items: center;
        }
        .sideParagraph{
            width: 300px;
            font-size: 14px;
            margin-top: -80px;
            margin-bottom: 15px;
        }
        .container{
            width: 350px;
        }
        .formGrp {
            margin-bottom: 4px;
            padding: 0px 30px;
            font-size: 14px;
        }
        .fileText {
            font-size: 11px;
        }
        
        .file{
            width: 189px;
    height: 40px;
    font-size: 14px;
        }
        label {
            padding-top: 15px;
        }
        
        input {
            width: 100%;
            margin-top: 6px;
            padding: 5px 0px;
        }
        
        .inp {
            height: 30px;
        }
        button {
            width: 120px;
            height: 50px;
            margin: 15px 30px;
            font-size: 16px;
            border-radius: 10px;
        }
        .textarea{
            width: 155px;
            height: 47px;
        }
        .errorMsg{
            font-size: 12px;
        padding: 5px;
        }
        #successMsg{
            font-size: 12px;
    padding: 7px;
        }
    }
    @media (max-width:330px){
        .heading {
            font-size: 30px;
        text-align: center;
        }
        .parent {
            flex-direction: column;
            align-items: center;
        }
        .sideParagraph{
            width: 190px;
            font-size: 10px;
            margin-top: -80px;
            margin-bottom: 15px;
        }
        .container{
            width: 250px;
        }
        .formGrp {
            margin-bottom: 4px;
            padding: 0px 20px;
            font-size: 12px;
        }
        .fileText {
            font-size: 11px;
        }
        
        .file{
            width: 144px;
    height: 30px;
    font-size: 10px;
        }
        label {
            padding-top: 12px;
        }
        
        input {
            width: 100%;
            margin-top: 5px;
            padding: 5px 0px;
        }
        
        .inp {
            height: 25px;
        }
        button {
            width: 95px;
            height: 42px;
            margin: 10px 20px;
            font-size: 12px;
            border-radius: 10px;
        }
        .textarea{
            width: 145px;
    height: 40px;
        }
        .errorMsg{
            font-size: 9px;
            padding: 3px;
        }
        #successMsg{
            font-size: 9px;
    padding: 7px;
        }
    }
    .sideParagraph {
        transition: all 0.3s ease;
        float: left;
        height: fit-content;
      }
    
      .sideParagraph:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
        height: fit-content;
        border-radius: 10px;
      }