@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Navbar */
nav {
  padding-right: 15px;
  padding-left: 5px;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f8f7f4;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  justify-content: space-between;
  box-shadow: 0px 2px 26px 0px rgba(9, 28, 7, 0.2);
  
}

nav img {
  margin-top: 10px;
  height: 50px;
  width: 100px;
  object-fit: cover;
}

.nav-content {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 20px;
  height: 100%;
}

.nav-content ul {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: auto;
  flex-wrap: nowrap;
  height: 100%;
}

.nav-content ul li {
  position: relative;
  display: inline-block;
  height: 100%;
  padding-top: 25px;
}

.nav-content ul li a {
  line-height: 1.2rem;
  text-decoration: none;
  color: #002750;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
}
.nav-content ul li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 7px;
  background-color: #0057b0;
}

.nav-content ul li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 7px;
  background-color: #0057b0;
}

.nav-content ul {
  margin-left: 10px;
}

ul .box {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 150px;
  position: relative;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #0057b0;
  z-index: 1;
  top: 68px;
  width: 100vw;
  height: 45px;
  left: 0px;
  justify-content: center;
  align-items: center;
}

.box .dropdown-content a {
  padding: 5px;
  color: #f8f7f4;
}

.box .dropdown-content a:hover {
  color: #bdbcb9;
}


/*----------------------------------------------------2nd nav-----------------------------------------------------*/
.nav1{
  width: 100%;
  height: 80px;
  position: absolute;
  background-color:#f8f7f4;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 20px;
  box-shadow: 0px 2px 26px 0px rgba(9, 28, 7, 0.2);
}

.nav1 img {
  margin-top: 10px;
  height: 50px;
  width: 100px;
  object-fit: cover;
}

.nav1 ul{
  display: none;
  list-style: none;
}


.nav1 ul li{
  margin: 0 5px;
}

.nav1 ul li a{
  color: rgb(42, 46, 45);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  background: white;
  padding: 8px 10px;
  border-radius: 5px;
}

.nav1 .menu-btn{
  font-size: 22px;
  cursor: pointer;
  display: none;
}

#click{
  display: none;
}
/*--------------------------------------------------------Navbar Responsive--------------------------------------------------------------*/

@media (max-width: 1340px) {
  ul .box {
    min-width: 130px;
  }
}

@media (max-width: 1200px) {
  ul .box {
    min-width: 110px;
  }
}

@media (max-width: 1024px) {
  ul .box {
    min-width: 80px;
  }
}

@media (max-width: 850px) {
  .nav-content{
    width: 75%;
  }
  ul .box {
    min-width: 80px;
  }
  .nav-content ul li a {
    font-size: 0.9rem;
  }
}

@media (max-width: 770px) {
  .nav-content{
    width: 75%;
  }
  ul .box {
    min-width: 70px;
  }
  .nav-content ul li a {
    font-size: 0.8rem;
  }
}

@media (max-width: 690px) {
  nav{
    display: none;
  }
  .nav1{
    display: flex;

  }
  .nav1 .menu-btn{
    display: block;
  }

  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }

  .nav1 ul{
    position:absolute;
    top: 80px;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.3s linear;
    order: 20;
  }

  #click:checked ~ ul{
    left: 0%;
  }

  .nav1 ul li{
    background: white;
    margin: 0px 0;
    padding-top: 10px;
    
  }
  
  .nav1 ul li a{
    background: white;
    display: block;
    padding: 0 0 0 0;
  }
  .dropdown p{
    padding: 10px 0;
    color: white;
    background-color: rgb(77, 77, 214);
  }
}
