@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* ************* FOOTER ************/


footer{
    width: 100%;
}

.foot-first-box{
    width: 100%;
    background-color: #0062ab;
    display: flex;
    justify-content: center;
}

.foot-box-1{
    width: 80%;
    margin: 4rem 0px;
}

.foot-main-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 40px 0px 20px 0px;
}
.foot-link-box{
    width: 70%;
    display: flex;
    justify-content: space-around;
    
}

.foot-links h4{
    font-weight: 800;
    margin-bottom: 20px;
    margin-left: 15px;
}
.foot-links div{
    margin-left: 15px;
}

.foot-links li{
    font-size: 13px;
    list-style: none;
    line-height: 1.8em;
}
.foot-links li::before{
    content: ".";
    margin-right: 5px;
    position: relative;
    bottom: 4px;
}
.foot-links a{
    text-decoration: none;
    color: white;
}
.foot-links a:hover{
    color: #00274A;
}

/* Footer - Last Box */
.foot-last-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D2031;
    padding: 4% 0;

}
.foot-last-text{
    width: 60%;
    text-align: center;
    color: white;
    /* border: 1px solid red; */
}

.foot-last-text a{
    text-decoration: none;
    color: #C9A088;
}
.last-text-head{
    font-size: 28px;
    margin: 15px 0px;
}
.last-text-link{
    font-size: 16px;
    font-weight: 700;
}


/*------------------------------------------------------Responsive--------------------------------------------------------------*/

@media (max-width:1000px) {
    .last-text-head{
        font-size: 25px;
    }
    .last-text-link{
        font-size: 15px;
    }

    .foot-links h4{
        font-weight: 800;
        margin-bottom: 10px;
        margin-left: 16px;
    }
    .foot-links div{
        margin-left: 15px;
    }

    .foot-links li{
        width: 180px;
        font-size: 13px;
        list-style: none;
        line-height: 1.5em;
    }

    .foot-main-box{
        align-items:start;
        margin-left: 20px;
    }

}

@media (max-width:800px) {
    .last-text-head{
        font-size: 20px;
    }
    .last-text-link{
        font-size: 12px;
    }

    .foot-links h4{
        font-weight: 800;
        margin-bottom: 10px;
        margin-left: 21px;
    }
    .foot-links div{
        margin-left: 20px;
    }

    .foot-links li{
        width: 180px;
        font-size: 13px;
        list-style: none;
        line-height: 1.5em;
    }
    .foot-main-box{
        align-items:start;
    
    }

    .foot-box-1{
        width: 180%;
        margin: 4rem 0px;
    }

}

@media (max-width:700px) {
    .foot-link-box{
        display: block;
        margin-left: 35%;
    }
    .foot-links h4{
        margin-top: 12px;
    }

    .foot-main-box{
        gap: 25px;
        margin: 10px 0px 10px 0px;
    }
}

@media (max-width:600px) {
    .last-text-head{
        font-size: 18px;
    }
    .last-text-link{
        font-size: 10px;
    }
}

@media (max-width:500px) {
    .last-text-head{
        font-size: 16px;
    }
    .last-text-link{
        font-size: 9px;
    }
    .foot-link-box{
        display: block;
        margin-left: 28%;
    }
    .foot-box-1{
        width: 180%;
        margin: 2rem 0px;
    }
}