html {
  font-size: 100%;
}

html,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body,
input,
select,
textarea {
  font-family: "Noto Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #222;
}

h1,
h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-variant-ligatures: common-ligatures;
}

h1 {
  font-size: 4.1875em;
  line-height: 1.07462686567164em;
  margin: 0;
  margin-bottom: 0.71641791044776em;
  font-weight: normal;
  color: #00274a;
  max-width: 800px;
}

@media only screen and (max-width: 501px) {
  h1 {
    font-size: 1.9375em;
    line-height: 1.16129em;
    margin-bottom: 1.16129em;
  }
}

.homepage h1 {
  font-size: 2.5625em;
  line-height: 1.17073em;
  text-align: center;
}

h1 small {
  font-size: 0.5em;
  font-family: "Noto Sans", "Arial", sans-serif;
  line-height: 0.5em;
}

p.back {
  font-size: 0.8125em;
  line-height: 1.84615384615385;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -36px;
  margin-bottom: 12px;
}

p.article-author-bellow {
  color: #8093a5;
  font-style: italic;
}

p.interested-in {
  color: #b3aba2;
  font-size: 0.8125em;
  margin-bottom: 1.84615em;
}

.article-big-text p {
  font-size: 1.3125em;
  line-height: 1.71429em;
  margin-bottom: 1.71429em;
  opacity: 0.92;
}

@media only screen and (max-width: 501px) {
  .article-big-text p {
    font-size: 1.0625em;
    line-height: 1.41176em;
    margin-bottom: 1.41176em;
  }
}

.article-big-text p.perex {
  font-size: 1.75em;
  line-height: 1.5em;
  margin-bottom: 0;
}

@media only screen and (max-width: 501px) {
  .article-big-text p.perex:after {
    margin: 23px auto 23px;
  }
}

.article-big-text blockquote {
  font-size: 1.3125em;
  line-height: 1.71429em;
  margin-bottom: 1.71429em;
  font-style: italic;
  border-left: 5px solid #ddd;
  padding-left: 40px;
  margin-left: 0;
}

@media only screen and (max-width: 501px) {
  .article-big-text blockquote {
    font-size: 1.0625em;
    line-height: 1.41176em;
    margin-bottom: 1.41176em;
  }
}

.article-big-text figcaption {
  text-align: center;
  color: #727272;
  font-size: 0.8125em;
  line-height: 1.84615384615385;
  margin: 0.92307692307692em auto 0;
}

.article-big-text span {
  font-size: inherit !important;
  line-height: inherit !important;
}

img {
  max-width: 100% !important;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 980px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto 0;
  margin-top: 79px;
}

@media only screen and (max-width: 320px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.about .container,
.submenu-page .container {
  margin-top: 128px;
}

@media only screen and (max-width: 770px) {
  .about .container,
  .submenu-page .container {
    margin-top: 46px;
  }
}

@media only screen and (max-width: 770px) {
  .container {
    margin-top: 46px;
  }
}

.container + .container {
  margin-top: 0;
}

.onecol {
  max-width: 750px;
}

.onecol-plus {
  max-width: 850px;
}

h1,
h2,
h3 {
  letter-spacing: -0.05em;
}

h2.sub-title {
  margin-top: -2.5rem;
}

@media only screen and (max-width: 767px) {
  h2.sub-title {
    margin-top: -2rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
