body {
  margin: 0;
}

body,
input,
select,
textarea {
  font-family: "Noto Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #222;
}

h1,
h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-variant-ligatures: common-ligatures;
}

h1 {
  font-size: 4.1875em;
  line-height: 1.07462686567164em;
  margin: 0;
  margin-bottom: 0.71641791044776em;
  font-weight: normal;
  color: #00274a;
  max-width: 800px;
}

@media only screen and (max-width: 501px) {
  h1 {
    font-size: 1.9375em;
    line-height: 1.16129em;
    margin-bottom: 1.16129em;
  }
}

h1.small-screen {
  display: none;
}

.big-screen {
  display: block;
}

@media only screen and (max-width: 767px) {
  .big-screen {
    display: none;
  }
  .small-screen {
    display: block;
  }
}

h1 small {
  font-size: 0.5em;
  font-family: "Noto Sans", "Arial", sans-serif;
  line-height: 0.5em;
}

.container {
  max-width: 980px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto 0;
  margin-top: 79px;
}

@media only screen and (max-width: 320px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 770px) {
  .about .container,
  .submenu-page .container {
    margin-top: 46px;
  }
}

@media only screen and (max-width: 770px) {
  .container {
    margin-top: 46px;
  }
}

.container + .container {
  margin-top: 0;
}

.onecol {
  max-width: 750px;
}

.onecol-plus {
  max-width: 850px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* ************* FOOTER ************/
.text:hover, .article-big-text:hover {
  color: red;
  font-weight: bold;
}
.onecol h1:hover{
color: red;
}



@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}