@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Navbar */
nav {
  padding-right: 15px;
  padding-left: 15px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f7f4;
  text-align: center;
  position: relative;
  margin-bottom: 4rem;
}

nav img {
  height: 50px;
  width: 100px;
  object-fit: cover;
}

.nav-content {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 20px;
  height: 100%;
}

.nav-content ul {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: auto;
  flex-wrap: nowrap;
  height: 100%;
}

.nav-content ul li {
  position: relative;
}

.nav-content ul li a {
  text-decoration: none;
  color: #002750;
  font-size: 1.1rem;
  font-weight: 600;
  padding-right: 10px;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.nav-content ul li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 7px;
  background-color: #0057b0;
}
.nav-content ul li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 7px;
  background-color: #0057b0;
}

.nav-content ul {
  margin-left: 10px;
}

ul .box {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 150px;
  position: relative;
}

.dropdown-content {
  /* padding-top: 100px; */
  display: none;
  position: fixed;
  background-color: #0057b0;
  z-index: 10;
  top: 65px;
  width: 100vw;
  height: 45px;
  left: 0px;
  justify-content: space-around;
  align-items: center;
}

.box .dropdown-content a {
  padding-top: 10px;
  color: #f8f7f4;
}

.box .dropdown-content a:hover {
  color: #bdbcb9;
}
.p{
  text-align: justify;
}
.wrapper.two {
  /* background-color: #2c0101; */
  font-size: 2.5rem;
  font-family: "Play", sans-serif;
}

.neon h3 {
  margin: 1rem auto;
  animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  50% {
      text-shadow: 0 0 10px #00d1ff, 0 0 10px #00274A, 0 0 10px #0057b0, 0 0 8px #00274A, 0 0 6px #6d9098, 2px 2px 2px #006a8c;
      color:lightblue;
  }
  100% {
      text-shadow: 0 0 2px #00587c, 0 0 5px #00587c, 0 0 5px #00587c, 0 0 5px #00587c, 0 0 2px #00587c, 4px 4px 2px #002e3f;
      color: #00274A;
  }
} 