*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: -20px; */
}
.text{
  width: 51%;
  font-size: 40px;
  text-align: left;
  margin-top: 100px;
  font-weight: 900;
  color: #00274a;
}
.image{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.image img{
  width: 750px;
  height: 500px;
}
.image p{
  padding: 20px;
  color: rgba(0, 0, 0, 0.364);
}
.text1{
  width: 50%;
  margin-bottom: 30px;
}
.text1 p{
  
      font-size: 1.45em;
      line-height: 1.71429em;
      margin-bottom: 1.71429em;
      opacity: 0.92;
}
.p {
  overflow: hidden; /* Hide overflow text */
  white-space: nowrap; /* Prevent text from wrapping */
}

.p:hover {
  color: gray; /* Change text color to gray on hover */
  text-decoration: underline; /* Add underline on hover */
}



