  
footer{
    width: 100%;
}

.foot-first-box{
    width: 100%;
    background-color: #F6F4F1;
    display: flex;
    justify-content: center;
}

.foot-box-1{
    width: 70%;
    margin: 4rem 0px;
}

.foot-main-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 40px 0px 20px 0px;
}
.foot-link-box{
    width: 70%;
    display: flex;
    justify-content: space-around;
    
}

.foot-links h4{
    font-weight: 800;
    margin-bottom: 20px;
}
.foot-links div{
    margin-left: 2px;
}

.foot-links li{
    font-size: 13px;
    list-style: none;
    line-height: 1.8em;
}
.foot-links li::before{
    content: ".";
    margin-right: 5px;
    position: relative;
    bottom: 4px;
}
.foot-links a{
    text-decoration: none;
    color: #0062AB;
}
.foot-links a:hover{
    color: #00274A;
}

/* Footer - Last Box */
.foot-last-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D2031;
    padding: 80px 0;

}
.foot-last-text{
    width: 30%;
    text-align: center;
    color: white;
    /* border: 1px solid red; */
}

.foot-last-text a{
    text-decoration: none;
    color: #C9A088;
}
.last-text-head{
    font-size: 28px;
    margin: 15px 0px;
}
.last-text-link{
    font-size: 16px;
    font-weight: 700;
}
  nav {
  padding-right: 15px;
  padding-left: 15px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f7f4;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
}

nav img {
  height: 50px;
  width: 100px;
  object-fit: cover;
}

.nav-content {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 20px;
  height: 100%;
}

.nav-content ul {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: auto;
  flex-wrap: nowrap;
  height: 100%;
}

.nav-content ul li {
  position: relative;
  display: inline-block;
  height: 100%;
  padding-top: 25px;
}

.nav-content ul li a {
  text-decoration: none;
  color: #002750;
  font-size: 1.1rem;
  font-weight: 600;
  padding-right: 10px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
}
.nav-content ul li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 7px;
  background-color: #0057b0;
}

.nav-content ul li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 7px;
  background-color: #0057b0;
}

.nav-content ul {
  margin-left: 10px;
}

ul .box {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 150px;
  position: relative;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #0057b0;
  z-index: 1;
  top: 70px;
  width: 100vw;
  height: 45px;
  left: 0px;
  justify-content: center;
  align-items: center;
}

.box .dropdown-content a {
  padding: 5px;
  color: #f8f7f4;
}

.box .dropdown-content a:hover {
  color: #bdbcb9;
}
  h1{
    font-size: 70px;
    font-weight: 800;
  }
  h2{
    color: rgb(0, 132, 255);
  }
  .insBlog{
    text-decoration: none;
  }
  .imgSection{
    margin-top: 150px;
  }
  .hoverEfect:hover{
    color: #002750;
  }
  .textP{
    font-size: 30px;
    font-weight: 400;
    margin-top: 60px;
  }
  .horiText{
    width: 50%;
    margin-left: 27%;
    margin-top: 60px;
 
  }
  .hText{
    font-size: 50px;
  }
.babyBoomer{
    font-size: 28px;
}

.cardCard{
    background-color: #dfdfdc;
    border-radius: 10px;

}
.theC{
    font-size: 22px;
}
 
  .ans{
    font-size: 30px;
    font-weight: 200px;
  }
  .Button{
    height: 70px;
    width: 180px;
    background-color: #2564a4;
    text-decoration: none;
    color: #dfdfdc;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
  }
  .cardMainSection{
    border: 0px solid gray;
    border-radius: 10px;
    background-color: #e2dfdf;

  }
  .share{
    display: flex;
    justify-content: end;
  }
  .card-body {
    transition: all 0.3s ease;
  }
  
  .card-body:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
    position: relative; 
    z-index: 1; 
    border-radius: 10px;
    background-color:#bdbcb9;
  }
  img {
    transition: transform 0.5s ease; 
  }
  
  img:hover {
    transform: scale(1.1);
  }