* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  /* border: 2px solid black; */
}

.cont {
  display: flex;
  flex-wrap: nowrap;
  /* gap: 0.2rem; */
  margin-bottom: 75px;
}

.cont1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 75px;
}

h1 {
  text-align: left;
  color: #00274a;
  margin-bottom: 20px;
  font-size: 60px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: left;
  color: #00274a;
  margin-bottom: 12px;
  font-size: 30px;
}

/* ///////////////////// */

.contact-head span{
  color: #baab94;
  font-weight: 600;
  font-size: 13px;
}
.contact-head hr{
  position: relative;
  top: -12px;
  left: 72px;
  width: 173px;
  opacity: 50%;
}
.details-box{
  margin: 1rem 0 1.1rem 0;
}
.details-box p{
  margin-bottom: 1rem;
  
}
.details-box p span{
  font-weight: 600;
  opacity: 70%;
}
.details-box p i{
  font-size: 1.3rem;
  margin-right: 1rem;
  opacity: 50%;
  color: rgb(133, 134, 137);
  position: relative;
  top: 4px;
}
.address{
  margin-top: 1rem;
  display: flex;
}
.address i{
  font-size: 2.5rem;
  margin-right: 10px;
  color: rgb(133, 134, 137);
  opacity: 50%;
}
.address span{
  font-size: 13px;
}

iframe{
  position: relative;
  top: 10px;
}


/* ***************************** */
.contact-info2 span {
  margin-bottom: 12px;
}

.info {
  color: #222222;
  font-size: 16px;
  background-color: #f6f4f1;
  margin: 0px 0px 24px;
  padding: 24px 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
  border-radius: 3px;
}

.info:hover{
  
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  
}

.contact-info1 {
  color: #222222;
  font-size: 16px;
  background: #f6f4f1;
  margin: 0px 0px 24px;
  padding: 24px 30px;
}

.contact-info1 p {
  margin-bottom: 10px;
}

.location {
  width: 48%;
  margin-bottom: 20px;
}

.location h3 {
  margin-bottom: 5px;
  opacity: 70%;
}

.contact-form {
  width: 100%;
  max-width: 400px;
  /* margin: 50px auto; */
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background: #f6f4f1;
}

.contact-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.contact-form textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.contact-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #3e8e41;
}

.cnt-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 130px;
}

h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

#icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.map {
  width: 600px;
  height: 450px;
}

/*-------------------------------------------responsive---------------------------------------------------*/

@media (max-width: 950px) {
  h1 {
    font-size: 45px;
  }
}

@media (max-width: 900px) {
  h2 {
    font-size: 30px;
  }
  .map {
    display: none;
  }
  .container {
    margin-left: 70px;
    margin-right: 30px;
    width: 80%;
  }
  .info .contact-info1 {
    height: 400px;
    width: 600px;
  }
  .contact-form {
    margin-left: 80px;
    width: 800px;
  }
}

@media (max-width:899px) {
  .container{
    width: 90%;
    margin-left: 30px;

  }
  
}
