@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans", "Arial", sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.parent {
    width: 790px;
}

.heading {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 40px;
    color: rgb(0,39,74);
    text-shadow: 2px 2px 4px #000000;
}

.paragraph {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 40px;
}

.paragraph a {
    color: black;
}

#ul1{
    margin-bottom: 40px;
    padding: revert;
}

#ul1 li {
    font-size: 24px;
    line-height: 35px;
}

.mentorimg {
    width: 790px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video{
    margin-bottom: 40px;
}



footer {
    width: 100%;

  }
  .foot-first-box h3 a{
  color: black;
  font-weight: bold;
  font-size: 19px;
  }
  
  .foot-first-box {
    width: 100%;
    background-color: #f6f4f1;
    display: flex;
    justify-content: center;
    background-color: #0062ab;
    border-radius: 10px;
  }
  
  .foot-box-1 {
    width: 70%;
    margin: 4rem 0px;
  }
  
  .foot-main-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 40px 0px 20px 0px;
  }
  .foot-link-box {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
  
  .foot-links h3 {
    font-weight: 800;
    margin-bottom: 20px;
  }
  .foot-links div {
    margin-left: 2px;
  }
  
  .foot-links li {
    font-size: 13px;
    list-style: none;
    line-height: 1.8em;
  }
  .foot-links li::before {
    content: ".";
    margin-right: 5px;
    position: relative;
    bottom: 4px;
  }
  .foot-links a {
    text-decoration: none;
    color: #0062ab;
  }
  .foot-links a:hover {
    color: #00274a;
  }
  
  /* Footer - Last Box */
  .foot-last-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d2031;
    padding: 80px 0;
  }
  .foot-last-text {
    width: 30%;
    text-align: center;
    color: white;
    /* border: 1px solid red; */
  }
  
  .foot-last-text a {
    text-decoration: none;
    color: #c9a088;
  }
  .last-text-head {
    font-size: 28px;
    margin: 15px 0px;
  }
  .last-text-link {
    font-size: 16px;
    font-weight: 700;
  }
  link[rel="icon"] {
    width: 100px;
    height: 150px; 
  }
  .client-logo{
    margin-top: 120px;
  }
  .logo-name{
    font-weight: bold;
  }
  @keyframes superAnimation1 {
    0% {
      transform: scale(1);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
    }
    50% {
      transform: scale(1.0);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
      background-color:lightblue;
    }
    100% {
      transform: scale(1.02);
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
      background-color:lightgrey;
    }
  }
  .foot-links a {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 8px;
    transition: all 0.3s ease;
    color: #ffffff;
    text-decoration: none;
  }
  
  .foot-links a:hover {
    animation: superAnimation1 0.5s infinite alternate;
  }
  .foot-links h3 a {
   color: white;
  }
  
  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  .foot-last-text {
    opacity: 0; 
    animation: fadeInUp 1s ease-out forwards; 
  }
  
  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    50% {
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  .foot-last-text {
    opacity: 0; 
    animation: fadeInUp 1s ease-out forwards, bounce 1s ease-in-out infinite alternate; 
  }
  .container1 {
    text-align: center; /* Center-align the content */
    padding: 25px 0px;
    background-color: #1D2031;
    color: white;
  }
  
  .span {
    font-size: 40px;
  }
  
  .waviy {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .waviy span {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i));
    font-size: 40px;
  }
  
  @keyframes flip {
    0%, 80% {
      transform: rotateY(360deg);
    }
  }
  
  
.paragraph{
    text-align: justify;
    font-size: 17px;
}
.a2:hover{
  color:#0062ab;

  font-size: 14px;
   
}

#ul1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Style for list items */
#ul1 li {
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);}
/* Increase font size and add hover effect */
#ul1 li:hover {
    font-size: 20px;
    background-color: #f0f0f0;
    transform: translateY(-2px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}
/* ------------------------------------ Responsive ---------------------------------------------*/

@media (max-width:1000px) {
   .heading {
    font-size: 60px;
   } 
   .paragraph {
    font-size: 20px;
}
.mentorimg {
    width: 650px;
}  
.video{
    width: 650px;
}
iframe{
    width: 90%;
    margin-top: 2rem;
}
}

@media (max-width:800px) {
    .heading {
        font-size: 60px;
        margin-left: 20px;
       } 
    .paragraph {
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px; 
    }
    .mentorimg {
        width: 600px;
        margin-left: 30px;
    }  
    iframe{
        width: 90%;
        margin-top: 2rem;
        margin-left: 30px;
        margin-right: 30px;
    }
    .parent {
        width: 700px;
        margin-left: 30px;
        margin-right: 30px;
    } 
    .video{
        width: 660px;
    }
}

@media (max-width:600px) {
    .heading {
        font-size: 43px;
        margin-left: 18px;
    }
    .parent {
        width: 600px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .paragraph {
        font-size: 20px;
        margin-left: 30px;
        margin-right: 30px; 
        line-height: 25px;
    }
    .mentorimg{
        width: 500px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .iframe{
        width: 60%;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .video{
        width: 600px;
        
    }
    
    
}
@media (max-width:550px) {
    .heading{
        margin-left: 40px;
        margin-right: 40px;
        font-size: 50px;
    }
    .paragraph {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 30px;
        margin-left: 40px;
        margin-right: 40px; 
    }
    .parent {
        width: 500px;
        margin-left: 40px;
        margin-right: 40px;
    } 
    iframe{
        width: 70%;
        margin-top: 5rem;
        margin-left: 50px;
        margin-right: 50px;
    }
    .mentorimg{
        width: 500px;
        height: 300px;
        margin-left: 45px;
        margin-right: 45px;
    }
}

@media (max-width:400px) {
    .heading{
        font-size: 40px;
        margin-left: 100px;
    }
    .paragraph{
        margin-left: 100px;
        margin-right: 100px;
    }
    .li{
        line-height: 20px;
        margin-left: 100px;
        margin-right: 100px;
    }
}
